<footer class="footer-widget-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <aside class="footer-widget">
                    <div class="about-img"><img src="/assets/LogoBlogNormal.png" alt="Kotha"></div>
                    <div class="about-content">As exigências do mercado de trabalho e você precisa acompanhar o ritmo para não ficar para trás. Nosso objetivo é te guiar na direção correta, com tudo o que precisa saber para se tornar um profissional de alta performance para atuar nas áreas de design, marketing, programação e vendas.
                    </div>

                    <div class="address">
                        <h4 class="text-uppercase">INFORMAÇÕES DE CONTATO</h4>
                        <br/>
                        <div class="row">
                          <div class="col-md-4">
                            <a link="">Email</a>
                          </div>
                          <div class="col-md-4">
                            <a link="">Facebook</a>
                          </div>
                          <div class="col-md-4">
                            <a link="">Instagram</a>
                          </div>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
    <div class="footer-copy">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center">©2017 Transforme a Carreira
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>