<nav class="navbar main-menu navbar-default" >
      <div class="container">
          <div class="menu-content">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="Kotha pro.html"><img class="img-logo" src="/assets/LogoBlogNormal.png" alt=""></a>
              </div>


              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                  <ul class="nav navbar-nav text-uppercase">
                      <li><a data-toggle="dropdown" class="dropdown-toggle" href="Kotha pro.html">Home <i class="fa fa-angle-down"></i></a>
                          <ul class="sub-menu">
                              <li class="menu-item-has-children"><a href="#">Quizes<i class="fa fa-angle-right"></i></a>
                                  <ul class="sub-menu">
                                      <li><a href="#">Quiz 1</a></li>
                                    <li><a href="#">Quiz 2</a></li>
                                  </ul>
                              </li>
                              <li><a href="Post Ebook.html">Ebook</a></li>
                          </ul>
                      </li>


                      <li><a href="#">SOBRE NÓS</a></li>
                      <li><a href="#">CONTATO</a></li>
                  </ul>
                  <div class="i_con">
                      <a href="#"><i class="fa fa-facebook"></i></a>
                      <a href="#"><i class="fa fa-instagram"></i></a>

                      <div class="top-search">
                          <a href="#"><i class="fa fa-search"></i></a>
                      </div>
                  </div>

              </div>
              <!-- /.navbar-collapse -->


              <div class="show-search">
                  <form role="search" method="get" id="searchform" action="#">
                      <div>
                          <input placeholder="Search and hit enter..." name="s" id="s" type="text">
                      </div>
                  </form>
              </div>
          </div>
      </div>
      <!-- /.container-fluid -->
  </nav>